@charset "UTF-8";

@media screen and (max-width:480px){
    section#login{
        width:70%;
        height:58%;
    }
}

@media screen and (min-width:768px)  {
    section#login {
        width: 50%;
        height: 65%;
    }
}

@media screen and (min-width:992px) {
    section#login {
        width: 550px;
        height: 400px;
    }
}